flows.json
[
    {
        "id": "09924cb364b4bda0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "baa84915725afe13",
        "type": "serial-port",
        "name": "Arduino",
        "serialport": "/dev/ttyACM1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "10d6d87a92acafc9",
        "type": "ui-base",
        "name": "LoRaComm Client",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": false,
        "acceptsClientConfig": [],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "none",
        "titleBarStyle": "default"
    },
    {
        "id": "6ea0a51cdb1d697e",
        "type": "ui-page",
        "name": "LoRaComm Client",
        "ui": "10d6d87a92acafc9",
        "path": "/home",
        "icon": "",
        "layout": "flex",
        "theme": "bc58d4f2163f36a4",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a4c2bb1d1e285504",
        "type": "ui-group",
        "name": "Main",
        "page": "6ea0a51cdb1d697e",
        "width": "24",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bc58d4f2163f36a4",
        "type": "ui-theme",
        "name": "Gruvbox Dark",
        "colors": {
            "surface": "#d65d0e",
            "primary": "#d65d0e",
            "bgPage": "#272727",
            "groupBg": "#665c54",
            "groupOutline": "#665c54"
        },
        "sizes": {
            "density": "compact",
            "pagePadding": "0px",
            "groupGap": "12px",
            "groupBorderRadius": "0px",
            "widgetGap": "8px"
        }
    },
    {
        "id": "a82ccb1a8a66d70d",
        "type": "ui-text-input",
        "z": "09924cb364b4bda0",
        "group": "a4c2bb1d1e285504",
        "name": "TypedMessage",
        "label": "",
        "order": 4,
        "width": "24",
        "height": "1",
        "topic": "<font color='#fb4934'>You ",
        "topicType": "str",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": false,
        "sendOnDelay": false,
        "sendOnBlur": false,
        "sendOnEnter": true,
        "className": "",
        "clearable": true,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "f0a7d1152774266f",
                "bebfecf5829b99e0",
                "df7a56c1239954e7"
            ]
        ]
    },
    {
        "id": "f0a7d1152774266f",
        "type": "function",
        "z": "09924cb364b4bda0",
        "name": "StripInvalidCharacters",
        "func": "// define valid characters\nconst validChars = ' abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890,:)(\\'.?!';\n\n// use regex to remove all invalid characters\nmsg.payload = msg.payload.replace(new RegExp(`[^${validChars}]`, 'g'), '');\n\n// ensure message is not empty\nif (!msg.payload) {\n    return;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 120,
        "wires": [
            [
                "6f97acd918d14918",
                "06ac2f3a2d590c0e",
                "d3638a66570b06c3"
            ]
        ]
    },
    {
        "id": "6f97acd918d14918",
        "type": "serial out",
        "z": "09924cb364b4bda0",
        "name": "Arduino RX",
        "serial": "baa84915725afe13",
        "x": 1110,
        "y": 120,
        "wires": []
    },
    {
        "id": "bebfecf5829b99e0",
        "type": "change",
        "z": "09924cb364b4bda0",
        "name": "ClearTextInput",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "a82ccb1a8a66d70d"
            ]
        ]
    },
    {
        "id": "bfbb4f7854991598",
        "type": "ui-text",
        "z": "09924cb364b4bda0",
        "group": "a4c2bb1d1e285504",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "Conversation",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1370,
        "y": 380,
        "wires": []
    },
    {
        "id": "cf43a456754f237d",
        "type": "serial in",
        "z": "09924cb364b4bda0",
        "name": "Arduino TX",
        "serial": "baa84915725afe13",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "06ac2f3a2d590c0e",
                "17171e8eb74825bf"
            ]
        ]
    },
    {
        "id": "06ac2f3a2d590c0e",
        "type": "function",
        "z": "09924cb364b4bda0",
        "name": "Append input to global.received",
        "func": "// ensure msg.payload is not a reply\nif (msg.payload.startsWith(\"%OK\")) {\n    return;\n}\n\n// ensure message is not duplicate\nif (msg.payload == global.get(\"messageOutPrev\")) {\n    return;\n}\n\nglobal.set(\"messageOutPrev\", msg.payload);\n\n// get current global.received\nlet currentValue = global.get(\"received\") || \"\";\n\n// get current time\nlet currentTime = new Date().toLocaleTimeString();\n\n// determine send user based on msg.topic\nif (msg.topic != \"<font color='#fb4934'>You \") {\n    msg.topic = \"<font color='#b8bb26'>Friend \";\n} else if (msg.payload.length > 32) {\n    // when sending a message from GUI,\n    // ensure it does not exceed 32 characters in length\n    msg.payload = msg.payload.slice(0, 32);\n}\n\n// append input to global.received\nglobal.set(\"received\", currentValue + \"<br><br>\" + msg.topic + \"</font>@ \" + currentTime + \": \" + msg.payload);\n\n// set msg.payload to global.received\nmsg.payload = global.get(\"received\");\n\n// return updated msg\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 380,
        "wires": [
            [
                "bfbb4f7854991598"
            ]
        ]
    },
    {
        "id": "3f1199f9622b535a",
        "type": "function",
        "z": "09924cb364b4bda0",
        "name": "ClearTextOutput",
        "func": "// clear msg.payload and global.received\nglobal.set(\"received\", \"\");\nmsg.payload = \"\";\n\n// return updated msg\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 440,
        "wires": [
            [
                "bfbb4f7854991598"
            ]
        ]
    },
    {
        "id": "bfadb4da484283c1",
        "type": "ui-button",
        "z": "09924cb364b4bda0",
        "group": "a4c2bb1d1e285504",
        "name": "Clear",
        "label": "Clear Chat History",
        "order": 2,
        "width": "12",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "3f1199f9622b535a"
            ]
        ]
    },
    {
        "id": "d71a08b18d4c78d1",
        "type": "ui-button",
        "z": "09924cb364b4bda0",
        "group": "a4c2bb1d1e285504",
        "name": "ToggleDocked",
        "label": "Toggle Docked Mode",
        "order": 1,
        "width": "12",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "%DOCK",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 800,
        "y": 160,
        "wires": [
            [
                "6f97acd918d14918"
            ]
        ]
    },
    {
        "id": "df7a56c1239954e7",
        "type": "change",
        "z": "09924cb364b4bda0",
        "name": "StartReplyIndicator",
        "rules": [
            {
                "t": "set",
                "p": "replyIndicator",
                "pt": "global",
                "to": "<font color='#fb4934'>X</font> Not yet delivered",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "replyIndicator",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "961cbfd48ab861ec"
            ]
        ]
    },
    {
        "id": "17171e8eb74825bf",
        "type": "function",
        "z": "09924cb364b4bda0",
        "name": "UpdateReplyIndicator",
        "func": "if (msg.payload.startsWith(\"%OK\")) {\n    global.set(\"replyIndicator\", \"<font color='#b8bb26'>✓</font> Delivered\");\n    msg.payload = global.get(\"replyIndicator\");\n} else {\n    msg.payload = global.get(\"replyIndicator\");\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "961cbfd48ab861ec"
            ]
        ]
    },
    {
        "id": "583da3d1789ab438",
        "type": "ui-template",
        "z": "09924cb364b4bda0",
        "group": "",
        "page": "6ea0a51cdb1d697e",
        "ui": "",
        "name": "CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".nrdb-ui-text {\n    align-items: flex-end;\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 210,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "c859994a70fe415c",
        "type": "ui-button",
        "z": "09924cb364b4bda0",
        "group": "a4c2bb1d1e285504",
        "name": "",
        "label": "Re-send",
        "order": 5,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "lastSent",
        "payloadType": "global",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 820,
        "y": 200,
        "wires": [
            [
                "6f97acd918d14918",
                "df7a56c1239954e7"
            ]
        ]
    },
    {
        "id": "961cbfd48ab861ec",
        "type": "ui-text",
        "z": "09924cb364b4bda0",
        "group": "a4c2bb1d1e285504",
        "order": 6,
        "width": "3",
        "height": "1",
        "name": "ReplyInd",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "d3638a66570b06c3",
        "type": "change",
        "z": "09924cb364b4bda0",
        "name": "StoreLastSent",
        "rules": [
            {
                "t": "set",
                "p": "lastSent",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 60,
        "wires": [
            []
        ]
    }
]